<center>
<h3>Make your blog posts more fun with Bloggly!</h3>
<p>How to use Bloggly: Just start typing! When you reach a word you'd like a GIF for, hit enter. Watch your GIFs appear below.</p>
</center>

{{outlet}}
